<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="style.css">
<body>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

<div class="form">
  <div class="login_box">
    <h1>Welcome!</h1>
    <p>Hey there! Enter your Name and Email to get into the Image Drive.</p>
    <input type="name" placeholder="Name" class="name" id="name">
    <input type="email" class="email" placeholder="Email" id="email">
    <p>Having trouble in access? <span href="#">Refresh Page</span></p>
    <button class="sign_in" >Continue</button>
    <!-- <p>Or Sign In with</p> -->
    <!-- <button><i class="fa-brands fa-google"></i> Google</button> -->
    <!-- <button><i class="fa-brands fa-facebook"></i> Facebook</button> -->
    <!-- <p>Don't have an account? <span href="#">Request here.</span></p> -->
  </div>
</div>
</body>
<script src="fetchjs.js"></script>
</html>